@import "tailwindcss";
@import "@nuxt/ui";

@theme {
  --font-display: "Silkscreen";
  --font-sans: "Space Grotesk", sans-serif;
  --font-serif: "Merriweather", serif;
  --font-mono: "Fira Code", monospace;
}
